### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
*.bak
*.DS_Store
!LatestBuild/Img/*.pdf

LatestBuild/Report-blx.bib
LatestBuild/latest.tar.gz
LatestBuild/sectionbuild.md
LatestBuild/ReportSections/sectionbuild.md
LatestBuild/Report.tex
LatestBuild/pandocked.tex

LatestBuild/Aux/

Archive
